<h1>Make it capitalized</h1>
<form class="" action='/results'>
  <div class="form-group">
    <label for="input">Enter a word to capitalize it...</label>
    <input name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Capitalize</button>
</form>
